@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PSTime;
  src: url('../../public/fonts/PSTimesTrial-Regular.otf');
}
@font-face {
  font-family: ABCWhyte;
  src: url('../../public/fonts/ABCWhyte-Light-Trial.otf');
  font-weight: 300;
}
@font-face {
  font-family: ABCWhyte;
  src: url('../../public/fonts/ABCWhyte-Regular-Trial.otf');
  font-weight: 400;
}

dody,
html {
  font-family: ABCWhyte;
}

@media (max-width: 768px) {
  .d2 {
    order: 3;
  }
  ._img {
    width: 100%;
  }
}

#modelbox {
  padding: 0 !important;
  border: none !important;
}

.slick-slider.slick-initialized {
  overflow: hidden;
}
.ReactModal__Overlay {
  z-index: 111;
}

.editor p {
  margin-bottom: 10px;
}
.editor li {
  margin-bottom: 5px;
}
.editor strong {
  font-weight: 800;
}
.editor h3 {
  font-size: 2rem;
  font-weight: 600;
}
.editor h4 {
  font-size: 1.6rem;
  font-weight: 600;
}
.editor h5 {
  font-size: 1.4rem;
  font-weight: 600;
}
.editor h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* .smooth {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
} */


*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
