@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
     font-family: PSTime;
     src: url('../../public/fonts/PSTimesTrial-Regular.otf');
}
@font-face {
     font-family: ABCWhyte;
     src: url('../../public/fonts/ABCWhyte-Light-Trial.otf');
     font-weight: 300;
}
@font-face {
     font-family: ABCWhyte;
     src: url('../../public/fonts/ABCWhyte-Regular-Trial.otf');
     font-weight: 400;
}

dody, html{
     font-family: ABCWhyte;
}


@media (max-width:768px){
     .d2{
          order: 3;
     }
     ._img{
          width: 100%;
     }
}
